<html data-theme='light'>
  <head>
    <meta charset='utf-8' />
    <title>Clientes - Jocicar</title>
    <script src='https://cdn.tailwindcss.com'></script>
    <link
      href='https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css'
      rel='stylesheet'
      type='text/css'
    />

    <script>
      function selecionarCliente() { localStorage.setItem('clienteSelecionado',
      JSON.stringify({{this}})); alert('Cliente selecionado. Selecione um
      veiculo para alugar.'); window.location.href = '/veiculos'; }
    </script>
  </head>
  <body class='p-8'>

    <div
      class='flex flex-col gap-4 items-center justify-center max-w-[1200px] mx-auto'
    >

      <h1 class='font-bold text-3xl'>Lista de clientes</h1>

      <div class='flex justify-between w-full'>

        <a href='/' class='btn btn-outline'>Voltar para o início</a>
        <label for='novoClienteModal' class='btn btn-primary'>Cadastrar novo
          cliente</label>
      </div>

      <table class='table table-zebra'>

        <thead>
          <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>CNH</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Endereço</th>
            <th>Ações</th>
          </tr>
        </thead>

        <tbody>
          {{#each clientes}}
            <tr>
              <td>{{this.nome}}</td>
              <td>{{this.cpf}}</td>
              <td>{{this.cnh}}</td>
              <td>{{this.telefone}}</td>
              <td>{{this.email}}</td>
              <td>{{this.endereco}}</td>
              <td>
                <div class='flex gap-2'>
                  <form action='/clientes/remover' method='post'>
                    <input type='hidden' name='id' value='{{this.id}}' />
                    <button class='btn btn-sm btn-error'>Remover</button>
                  </form>

                  <label
                    for='editarClienteModal'
                    class='btn btn-sm btn-primary'
                    onclick='
                    document.getElementById("editar-cliente-id").value = "{{this.id}}";
                    document.getElementById("editar-cliente-nome").value = "{{this.nome}}";
                    document.getElementById("editar-cliente-cpf").value = "{{this.cpf}}";
                    document.getElementById("editar-cliente-cnh").value = "{{this.cnh}}";
                    document.getElementById("editar-cliente-telefone").value = "{{this.telefone}}";
                    document.getElementById("editar-cliente-email").value = "{{this.email}}";
                    document.getElementById("editar-cliente-endereco").value = "{{this.endereco}}";
                  '
                  >Editar</label>

                  <button
                    class='btn btn-sm'
                    onclick='selecionarCliente()'
                  >Selecionar</button>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <input type='checkbox' id='novoClienteModal' class='modal-toggle' />
    <div class='modal' role='dialog'>
      <form action='' method='post'>
        <div class='modal-box flex flex-col gap-4'>
          <h3 class='text-lg font-bold'>Cadastrar novo cliente</h3>

          <div class='flex flex-col gap-2'>

            <input
              class='input input-bordered'
              type='text'
              placeholder='Nome'
              name='nome'
              required
            />

            <input
              class='input input-bordered'
              type='text'
              placeholder='CPF'
              name='cpf'
              required
            />

            <input
              class='input input-bordered'
              type='text'
              placeholder='CNH'
              name='cnh'
              required
            />

            <input
              class='input input-bordered'
              type='text'
              placeholder='Telefone'
              name='telefone'
              required
            />

            <input
              class='input input-bordered'
              type='email'
              placeholder='E-mail'
              name='email'
              required
            />

            <input
              class='input input-bordered'
              type='text'
              placeholder='Endereço'
              name='endereco'
              required
            />

          </div>
          <div class='modal-action flex items-center justify-center'>

            <label for='novoClienteModal' class='btn'>Cancelar</label>

            <button type='submit' class='btn btn-primary'>Cadastrar cliente</button>
          </div>
        </div>
      </form>
    </div>

    <input type='checkbox' id='editarClienteModal' class='modal-toggle' />
    <div class='modal' role='dialog'>
      <form action='/clientes/editar' method='post'>
        <div class='modal-box flex flex-col gap-4'>
          <h3 class='text-lg font-bold'>Editar cliente</h3>

          <div class='flex flex-col gap-2'>

            <input type='hidden' id='editar-cliente-id' name='id' />

            <input
              id='editar-cliente-nome'
              class='input input-bordered'
              type='text'
              placeholder='Nome'
              name='nome'
              required
            />

            <input
              id='editar-cliente-cpf'
              class='input input-bordered'
              type='text'
              placeholder='CPF'
              name='cpf'
              required
            />

            <input
              id='editar-cliente-cnh'
              class='input input-bordered'
              type='text'
              placeholder='CNH'
              name='cnh'
              required
            />

            <input
              id='editar-cliente-telefone'
              class='input input-bordered'
              type='text'
              placeholder='Telefone'
              name='telefone'
              required
            />

            <input
              id='editar-cliente-email'
              class='input input-bordered'
              type='email'
              placeholder='E-mail'
              name='email'
              required
            />

            <input
              id='editar-cliente-endereco'
              class='input input-bordered'
              type='text'
              placeholder='Endereço'
              name='endereco'
              required
            />

          </div>
          <div class='modal-action flex items-center justify-center'>

            <label for='editarClienteModal' class='btn'>Cancelar</label>

            <button type='submit' class='btn btn-primary'>Salvar edição</button>
          </div>
        </div>
      </form>
    </div>

  </body>
</html>