<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{veiculo.fabricante}} {{veiculo.modelo}} - Veiculos - Jocicar</title>
  </head>
  <body>
    <ul>
        <li>{{veiculo.fabricante}}</li>
        <li>{{veiculo.modelo}}</li>
        <li>{{veiculo.ano_fabricacao}} / {{veiculo.ano_modelo}}</li>
        <li>{{veiculo.placa}}</li>
    </ul>
  </body>
</html>